<%- include('header') -%>
<div class="colorlib-product">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                <h2>Thêm Thể loại</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <form id="add-category-form" style="max-width: 500px; margin: auto; border: 1px solid #ccc;" enctype="multipart/form-data" >
                    <div class="form-group mx-4 mt-2">
                        <label for="category-name" class="h5">Tên Thể loại:</label>
                        <input type="text" class="form-control" id="category-name" name="name" placeholder="Nhập tên thể loại">
                        <small id="categoryname-error" style="color: red;top: 50px;left: 0;font-size: 12px;z-index: 100;"></small>
                    </div>
                    <div class="form-group mx-4 mt-2">
                        <label for="category-desc" class="h5">Chi tiết Thể loại:</label>
                        <input type="text" class="form-control" id="category-desc" name="description" placeholder="Nhập chi tiết thể loại">
                        <small id="categorydesc-error" style="color: red;top: 50px;left: 0;font-size: 12px;z-index: 100;"></small>
                    </div>
                    <div class="form-group mx-4 mt-2">
                        <label for="category-image"  class="h5"> Ảnh:</label>
                        <input type="file"  class="form-control" id="category-image" name="file" accept="image/*" required>
                        <small id="categoryimage-error" style="color: red;top: 50px;left: 0;font-size: 12px;z-index: 100;"></small>
                    </div>
                    <div class="form-group text-center">
                         <button type="submit" class="btn btn-primary " id="btn-add">Thêm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('footer') -%>