<%- include('header') -%>

<div class="colorlib-product" style="padding-top: 40px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2 text-center colorlib-heading" style="margin-bottom: 30px;">
        <h2>Thêm Sản Phẩm</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <form
          id="add-product-form"
          style="max-width: 500px; margin: auto; border: 1px solid #ccc;"
          enctype="multipart/form-data"
        >
          <div class="form-group mx-4 mt-1">
            <label for="product-name" class="h5">Tên Sản Phẩm:</label>
            <input
              type="text"
              class="form-control"
              id="product-name"
              name="name"
              placeholder="Nhập tên sản phẩm"
            />
            <small id="productname-error"></small>
          </div>
          <div class="form-row">
            <div class="col">
              <div class="form-group ml-4 mt-1">
                <label for="product-brand" class="h5">Giá Nhập:</label>
                <input
                  type="number"
                  class="form-control"
                  id="product-import_price"
                  name="import price"
                  placeholder="Nhập giá nhập"
                />
                <small id="import_price-error"></small>
              </div>
            </div>
            <div class="col">
              <div class="form-group mr-4 mt-1">
                <label for="product-price" class="h5">Giá Bán:</label>
                <input
                  type="number"
                  class="form-control"
                  id="product-price"
                  name="price"
                  placeholder="Nhập giá bán"
                />
                <small id="price-error"></small>
              </div>
            </div>
          </div>
          
          <div class="form-row">
            <div class="col">
              <div class="form-group ml-4 mt-1">
                <label for="product-quantity" class="h5">Số Lượng:</label>
                <input
                  type="number"
                  class="form-control"
                  id="product-quantity"
                  name="quantity"
                  placeholder="Nhập số lượng"
                />
                <small id="quantity-error"></small>
              </div>
            </div>
            <div class="col">
              <div class="form-group mr-4 mt-1">
                <label for="product-color" class="h5">Màu Sắc:</label>
                <input
                  type="file"
                  class="form-control"
                  id="product-file"
                  name="file"
                />
                <small id="file-error"></small>
              </div>
            </div>
          </div>
          <div class="form-group mx-4 mt-1">
            <label for="product-description" class="h5"
              >Miêu Tả Sản Phẩm:</label
            >
            <textarea
              class="form-control"
              id="product-description"
              name="description"
              placeholder="Nhập miêu tả sản phẩm"
            ></textarea>
            <small id="description-error"></small>
          </div>
          <div class="form-group mx-4 mt-1">
            <label for="roduct-category-name" class="h5">Chọn Thể Loại:</label>
            <select
              class="form-control"
              id="product-category-name"
              name="category"
            ></select>
            <small id="categoryname-error"></small>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" id="btn-add-product">
              Thêm
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('footer') -%>
