<%- include('header') -%>
<div class="colorlib-product" style="padding-top: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-8 text-right" >
                <div class="top-menu" style="padding-top: 10px;">
                    <form  class="search-wrap">
                        <div class="form-group">
                            <input type="search" id="query-search" class="form-control search" placeholder="Search">
                            <button id="btn-search" class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading" style="height: 0px;">
                <h2>Thể loại</h2>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-12 text-left">
                <button id="add-category-btn" class="btn btn-primary">Thêm</button>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME</th>
                    <th scope="col">IMAGE</th>
                </tr>
            </thead>
            <tbody id="category-table-body">

            </tbody>
        </table>
    </div>
</div>
<%- include('footer'); -%>