<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700"
      rel="stylesheet"
    />

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css" />
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css" />
    <!-- Ion Icon Fonts-->
    <link rel="stylesheet" href="css/ionicons.min.css" />
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css" />

    <!-- Flexslider  -->
    <link rel="stylesheet" href="css/flexslider.css" />

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />

    <!-- Date Picker -->
    <link rel="stylesheet" href="css/bootstrap-datepicker.css" />
    <!-- Flaticons  -->
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />

    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="colorlib-loader"></div>

    <div id="page">
      <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
          <div class="container">
            <div class="row">
              <div class="col-sm-7 col-md-9">
                <div id="colorlib-logo"><a href="home">Fstyle</a></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-left menu-1">
                <ul>
                  <li class="active"><a href="home">Trang chủ</a></li>
                  <li class="has-dropdown">
                    <a href="categories_product">Thể loại</a>
                  </li>
                  <li><a href="products">Sản phẩm</a></li>
                  <li><a href="statistical">Thống kê</a></li>
                  <li><a href="user">Quản Lý người dùng</a></li>
                  <li class="cart">
                    <a href="order"><i class="icon-shopping-cart"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
